.slides .code-illustration {
	width: 700px;
	height: 480px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.slides .code-illustration img {
	max-width: none;
	max-height: none;
	position: absolute;
	left: 0px;
	border: 0;
}